.App {
  text-align: center;
}
// importer couleur primaire et couleur secondaire  pour modifier la couleur secondaire qui sera c elle de header et footer.

// Variables pour le thème clair
$primary-color-light: rgba(52, 52, 52, 0.97);
$primary-background-light:rgb(233, 233, 233);
// $secondary-background-light: rgba(35, 118, 206, 0.545);
$secondary-background-light: rgba(21, 218, 113, 0.545);
;

// Variables pour le thème sombre
$primary-color-dark: white;
$primary-background-dark:grey;
$secondary-background-dark: #393939;

// Styles pour le thème clair
.light-theme {
  background-color: $primary-background-light;
  color: $primary-color-light;
}

// Styles pour le thème sombre
.dark-theme {
  background-color: $primary-background-dark;
  color: $primary-color-dark;
}
