.navbar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
    &__toolbar{
      width: 95%;
      height: 100%;
      padding: 0px;
    }
    // &__typo{
    //   color: white;
    // }
    // &__navigation{
    //   color: white;
    // }
    // &__ul{
    //   color: white;
    //   &__li{
    //     color: white;
    //   }
    // }
    // &__search{
    //   color: white;
    // }
}
// .nav__display{
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//     &__bloc{
//       padding: 15px;
//     }
// }
nav {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-right: 10px;
  }
  
  a {

    text-decoration: none;
    padding: 5px;
    font-size: 16px;
  }
  
  @media (min-width: 1441px) {
    a {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    nav {
      padding: 5px;
    }
  
    ul {
      flex-direction: column;
    }
  
    li {
      margin-bottom: 5px;
    }
  
    a {
      font-size: 14px;
      padding: 3px;
    }
  }
  @media (max-width: 425px) {
    nav {
      padding: 5px;
    }
  
    a {
      font-size: 12px;
      padding: 2px;
    }
  }
  